<%- include('header'), {seoDetails} %>
<section data-anim-wrap class="pageHero -type-2 -items-center">
  <div data-anim-child="img-right cover-white delay-1" class="pageHero__bg">
    <img src="/assets/img/wedding4.jpg" alt="image" >
  </div>

  <div class="container">
    <div class="row justify-center">
      <div class="col-12">
        <div data-split='lines' data-anim-child="split-lines delay-3" class="pageHero__content text-center">
          <h1 class="pageHero__title lh-12 capitalize text-white">
            Wedding
          </h1>
          <p class="pageHero__text lh-17 text-white mt-30">
            Begin Your Forever at Babylon Capital – Where Love Meets Luxury
            </p>
        </div>
      </div>
    </div>
  </div>
</section>


  <section class="layout-pt-lg " style="padding-bottom: 100px; padding-top:100px">
    <div data-anim-wrap class="container">
      <div class="row y-gap-50 items-center justify-between">
        <div class="col-lg-6 col-md-9">
          <div data-anim-child="slide-up delay-1" class="text-15 uppercase mb-30 sm:mb-10">Weddings</div>
          <h2 data-anim-child="slide-up delay-2" class="text-64 md:text-40 capitalize">Truly, the Happiest Day of Your Life</h2>
          <p data-anim-child="slide-up delay-3" class="lh-18 pr-60 lg:pr-0 mt-40 md:mt-30">Impeccable arrangements, Royal ambience and Picture-perfect settings to make your Dream Wedding a reality.</p>
          <p data-anim-child="slide-up delay-3" class="lh-18 pr-60 lg:pr-0 mt-40 md:mt-30">Let your wedding be the talk of the town! With all the necessary arrangements in place to make your wedding memorable in every sense, turn your wedding into a majestic experience that you will never forget. At Babylon, we leave no stone unturned to make your wedding a grand affair.</p>
          <p data-anim-child="slide-up delay-3" class="lh-18 pr-60 lg:pr-0 "> A dedicated and artistic team working for you, by personalizing every event according to your requirements, we take pride in offering the best wedding planning services in Raipur. With the largest clear vision banquet hall in the city, and picturesque arrangements, it is just one of the many reasons why hosting a wedding at Babylon Capital is truly an enriching experience in itself.</p>

         
        </div>

        <div class="col-lg-6">
          <div data-anim-child="img-right cover-white delay-2">
            <div class="imageGrid -type-3">
              <img style="max-height: 460; max-width:375px; border-radius:30px" src="/assets/img/weddingimg.jpg" alt="image">
              <img style="max-height: 637px; max-width:572px; border-radius:30px" src="/assets/img/babylon.jpg" alt="image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="layout-pb-lg" style="padding-bottom: 0;">
    <div data-anim-wrap class="container">
      <div class="row justify-center text-center">
        <div data-split='lines' data-anim-child="split-lines delay-2" class="col-auto">
          <h2 class="text-64 md:text-40">Amenities</h2>
        </div>
      </div>

      <div class="pt-100 sm:pt-50">
        <div class="relative js-section-slider" data-gap="30" data-slider-cols="xl-4 lg-4 md-3 sm-2 base-1" data-nav-prev="js-slider4-prev" data-nav-next="js-slider4-next">
          <div class="swiper-wrapper" style="height: 450px;">

            <div class="swiper-slide">
              <a href="#" data-anim-child="img-right cover-light-1 delay-2" class="baseCard -type-1 -hover-image-scale">
                <div class="baseCard__image ratio ratio-33:45 rounded-16">
                  <div class="-hover-image-scale__image">
                    <img src="/assets/img/emerald2one.avif" style="filter: brightness(0.6);" alt="image" class="img-ratio">
                  </div>
                </div>
                <div class="baseCard__content d-flex flex-column justify-end text-center">
                  <h4 class="text-30 md:text-25 text-white">Banquet Hall Space</h4>
                  <div class="text-white mt-10">20,000 + square feet</div>
                </div>
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#" data-anim-child="img-right cover-light-1 delay-4" class="baseCard -type-1 -hover-image-scale">
                <div class="baseCard__image ratio ratio-33:45 rounded-16">
                  <div class="-hover-image-scale__image">
                    <img src="/assets/img/moonlight1.avif" style="filter: brightness(0.6);" class="img-ratio">
                  </div>
                </div>
                <div class="baseCard__content d-flex flex-column justify-end text-center">
                  <h4 class="text-30 md:text-25 text-white">Guest Capacity</h4>
                  <div class="text-white mt-10">Up to 1500 people</div>
                </div>
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#" data-anim-child="img-right cover-light-1 delay-6" class="baseCard -type-1 -hover-image-scale">
                <div class="baseCard__image ratio ratio-33:45 rounded-16">
                  <div class="-hover-image-scale__image">
                    <img src="/assets/img/event.jpg" style="filter: brightness(0.6);" alt="image" class="img-ratio">
                  </div>
                </div>
                <div class="baseCard__content d-flex flex-column justify-end text-center">
                  <h4 class="text-30 md:text-25 text-white">Event Rooms</h4>
                  <div class="text-white mt-10">5</div>
                </div>
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#" data-anim-child="img-right cover-light-1 delay-8" class="baseCard -type-1 -hover-image-scale">
                <div class="baseCard__image ratio ratio-33:45 rounded-16">
                  <div class="-hover-image-scale__image">
                    <img src="/assets/img/shuttle.jpeg" style="filter: brightness(0.6);" alt="image" class="img-ratio">
                  </div>
                </div>
                <div class="baseCard__content d-flex flex-column justify-end text-center">
                  <h4 class="text-30 md:text-25 text-white">Shuttle Service</h4>
                  <div class="text-white mt-10">Yes / No</div>
                </div>
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#" data-anim-child="img-right cover-light-1 delay-10" class="baseCard -type-1 -hover-image-scale">
                <div class="baseCard__image ratio ratio-33:45 rounded-16">
                  <div class="-hover-image-scale__image">
                    <img src="/assets/img/photo.jpeg" style="filter: brightness(0.6);" alt="image" class="img-ratio">
                  </div>
                </div>
                <div class="baseCard__content d-flex flex-column justify-end text-center">
                  <h4 class="text-30 md:text-25 text-white">Professional Event Planners & In-house Photographer</h4>
                  <div class="text-white mt-10">Available</div>
                </div>
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#" data-anim-child="img-right cover-light-1 delay-12" class="baseCard -type-1 -hover-image-scale">
                <div class="baseCard__image ratio ratio-33:45 rounded-16">
                  <div class="-hover-image-scale__image">
                    <img src="/assets/img/culinary.jpeg" style="filter: brightness(0.6);" alt="image" class="img-ratio">
                  </div>
                </div>
                <div class="baseCard__content d-flex flex-column justify-end text-center">
                  <h4 class="text-30 md:text-25 text-white">Culinary</h4>
                  <div class="text-white mt-10">Customized Catering as per requirement</div>
                </div>
              </a>
            </div>


          </div>

          <!-- <div class="navAbsolute -type-4">
            <button class="size-80 flex-center bg-accent-1-50 blur-1 rounded-full js-slider4-prev">
              <i class="icon-arrow-left text-24 text-white"></i>
            </button>

            <button class="size-80 flex-center bg-accent-1-50 blur-1 rounded-full js-slider4-next">
              <i class="icon-arrow-right text-24 text-white"></i>
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </section>
  <div class="row y-gap-40 justify-center pt-50">

    <div class="col-xl-8 col-lg-8">

        <div class="line -horizontal bg-border mt-50 mb-50"></div>
        
        <div class="sidebar -rooms-single px-40 py-40 md:px-30 md:py-30 ">
            <div class="row justify-center text-center">
                <div class="col-auto">
                    <h2 class="text-64 uppercase mb-10 ">Let's Plan</h2>
                  <div class="text-15 md:text-40 mb-50 pb-50">We’re here to make your wedding as magical as your love story</div>
                  
                </div>
              </div>
          <form id="ServiceForm" >
            <div class="contactForm row y-gap-30">
              <div class="col-md-6">
                <div class="form-input ">
                  <input type="text" name="<%= SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.name %>" required>
                  <label class="lh-1 text-16 text-light-1">Full Name</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-input ">
                  <input type="text" name="<%= SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone %>" required>
                  <label class="lh-1 text-16 text-light-1">Contact Number</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-input ">
                  <input type="text" name="<%= SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.email %>" required>
                  <label class="lh-1 text-16 text-light-1">Email</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-input ">
                  <input type="number" name="<%= SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.seats %>" required>
                  <label class="lh-1 text-16 text-light-1">No. of Guests (seats)</label>
                </div>
              </div>
             
              <div class="col-md-12">
                <div class="form-input ">
                  <input type="date" name="<%= SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.indate %>" required>
                  <label style="top:-9px; transform:none; transition:none;">Event Date</label>
                </div>
              </div>
              <!-- Include Flatpickr CSS -->
   
              
              <div class="col-md-12">
              <div class="form-input ">
                <textarea required name="<%= SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks %>" class="border-1" rows="3"></textarea>
                <label class="lh-1 ">Remarks</label>
              </div>
              </div>
              <div class="form-group" style="display: none;" >
                <input type="hidden" name="<%= SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.serviceType %>" value="Wedding" readonly>
                <input type="hidden" id="websiteProjectId" name="websiteProjectId" value="6667f654a9d9239927ce8743">
            </div>
            <div class="col-12">
              <button type="submit" name="submit" value="submit" class="button -md -type-2 w-1/1 bg-accent-2 -accent-1">SUBMIT</button>
            </div>
            </div>
          </form>
    <script>
    document.getElementById('ServiceForm').addEventListener('submit', async function (e) { 
      e.preventDefault(); // Prevent the default form submission
    
      const phoneInput = document.querySelector('input[name="<%= SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone %>"]');
      const phoneNumber = phoneInput.value.trim();
    
      // Validate phone number: Must be exactly 10 digits and only numeric
      if (!/^\d{10}$/.test(phoneNumber)) {
          alert("Contact Number must be exactly 10 digits and numeric.");
          return; // Stop form submission if validation fails
      }
    
      try {
          const API_BASE_URL = "<%= API_BASE_URL %>";
          const websiteID = "<%= websiteID %>";
          const WEBSITEIDKEY = "<%= WEBSITE_ID_KEY %>";
          const SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS = <%- JSON.stringify(SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS) %>;
    
          const CREATE_SERVICE_ENQUIRY_END_POINT = `${API_BASE_URL}/website/service-enquiry/create-service-enquiry`;
    
          const ServiceForm = e.target; // Reference to the form element
          const WEBSITE_ID_KEY = WEBSITEIDKEY;
    
          // Prepare the payload from the form fields
          const payload = {
              [SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.name]: ServiceForm.querySelector(
                  `input[name="${SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.name}"]`
              ).value,
              [SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.phone]: phoneNumber, // Use validated phone input
              [SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.email]: ServiceForm.querySelector(
                  `input[name="${SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.email}"]`
              ).value,
              [SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.indate]: ServiceForm.querySelector(
                  `input[name="${SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.indate}"]`
              ).value,
              [SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.seats]: ServiceForm.querySelector(
                  `input[name="${SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.seats}"]`
              ).value,
              [SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.serviceType]: ServiceForm.querySelector(
                  `input[name="${SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.serviceType}"]`
              ).value,
              [SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks]: ServiceForm.querySelector(
                  `textarea[name="${SERVICE_ENQUIRY_DYNAMIC_FIELDS_KEYS.remarks}"]`
              ).value,
              [WEBSITE_ID_KEY]: websiteID,
          };
    
          // Set headers for the request
          const headers = new Headers({
              "Content-Type": "application/json",
          });
    
          // Send POST request to the API
          const response = await fetch(CREATE_SERVICE_ENQUIRY_END_POINT, {
              method: "POST",
              headers,
              body: JSON.stringify(payload),
          });
    
          // Handle response
          if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
          }
    
          const data = await response.json();
    
          // Redirect to the thank-you page on success
          sessionStorage.setItem("thankYouMessage", "We've Received Your Enquiry and will Reach out to you soon");
          window.location.href = "/thankyou";
      } catch (error) {
          console.error("Form submission error", error);
      }
    });
    
    </script>
          
        </div>
      </div>
    </div>
  <%- include('footer') %>